<!--<div class="subCategory" style="text-align:center">-->
<!--      <h2> We Provide Our Best Services</h2>-->
<!--      <p>"Our greatest asset is the Customer! Treat each Customer as if they are the only one!"</p>-->
<!--    </div>-->
<!--    <div class="card-container">-->
<!--      <div class="card" (click)="navigateTo('/config')">-->
<!--        <img src="config.png" class="card-img-top" alt="Configuration">-->
<!--        <div class="card-header">Configuration</div>-->
<!--        <div class="card-body">Details about configuration</div>-->
<!--      </div>-->
<!--      <div class="card" (click)="navigateTo('/report')">-->
<!--        <img src="report.png" class="card-img-top" alt="report">-->
<!--        <div class="card-header">Sample Results</div>-->
<!--        <div class="card-body">Details about sample results</div>-->
<!--      </div>-->
<!--      <div class="card" (click)="navigateTo('/faq')">-->
<!--        <img src="faq.png" class="card-img-top" alt="faq">-->
<!--        <div class="card-header">Help & FAQ</div>-->
<!--        <div class="card-body">Details about help & FAQ</div>-->
<!--      </div>-->
<!--      <div class="card" (click)="navigateTo('/contact')">-->
<!--        <img src="contact.png" class="card-img-top" alt="Contact Us">-->
<!--        <div class="card-header">Contact Us</div>-->
<!--        <div class="card-body">Details about contacting us</div>-->
<!--      </div>-->
<!--    </div>-->


<div class="cardTemplate">
  <div class="subCategory text-center">
    <h2>We Provide Our Best Services</h2>
    <p>"Our greatest asset is the Customer! Treat each Customer as if they are the only one!"</p>
  </div>
  <div class="card-container">
    <div class="card" (click)="navigateTo('/config')">
      <img src="config.png" class="card-img-top" alt="Configuration">
      <div class="card-header">Configuration</div>
      <div class="card-body">Details about configuration</div>
    </div>
    <div class="card" (click)="navigateTo('/report')">
      <img src="report.png" class="card-img-top" alt="report">
      <div class="card-header">Sample Results</div>
      <div class="card-body">Details about sample results</div>
    </div>
    <div class="card" (click)="navigateTo('/faq')">
      <img src="faq.png" class="card-img-top" alt="faq">
      <div class="card-header">Help & FAQ</div>
      <div class="card-body">Details about help & FAQ</div>
    </div>
    <div class="card" (click)="navigateTo('/contact')">
      <img src="contact.png" class="card-img-top" alt="Contact Us">
      <div class="card-header">Contact Us</div>
      <div class="card-body">Details about contacting us</div>
    </div>
  </div>
</div>
