.header {
  box-sizing: border-box;
  flex-direction: row;
  height: 80px;
  z-index: 999;
  background:white;
  overflow:hidden;
  width: 100%;
}

.apptitlecontainer{
  color:black;
  padding-left: 20px;
  font-size: 36px;
  font-weight: 700;
  line-height: 2;
  font-family: Segoe UI;
}

.form-header{
  flex-direction: row;
  box-sizing: border-box;
  background-color: #ADBDB6;
  color: #061A1E;
  height: 50px;
  margin-top: 110px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 15px;
  line-height: 50px;
  vertical-align: middle;
  font-size: 16px;
  font-family: Segoe UI;
  outline: 1px solid #ADBDB6;
  text-align: center;
}

label{
  font-size: 15px;
  font-weight: 500;
  font-family: Tahoma;
  color: #F5FBEF;
}

.required-field:after{
  content:" *";
  color: red;
  display:inline;
}

.panel-footer{
  margin-top: 10px;
}

.pull-right{
  float:right!important;
}

.btn-success{
  background-color: #28a745;
  color: white;
}

.btn-primary{
  background-color: #0073cf;
  color: white;
}

html,body{

    list-style: none;
    font-family: 'Rubik';
    letter-spacing: 3px;

}

.index{
    background-image: url("src/assets/biased.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
}

.output{
    background-image: url("src/assets/biased.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
}
.cyan{
    color : cyan
}

.center{
 width: 430px;
 margin: 130px auto;
 position: relative;
}

.whitesmoke{
    color : black
}

/* element */

.let_space{
    letter-spacing: 2px;
}


.c_grid{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 2vmax;
}

.grid{
    display: grid;
    grid-gap: 1vmax;
    padding: 50px;
}

.box2{
    grid-template-columns: 1fr 1fr;
}

.box3{
    grid-template-columns: 1fr 1fr 1fr;
}

/* element */

.table_cont{
    overflow-x: scroll;
    width: 70vw;
}

table {
    border-collapse: collapse;
    letter-spacing: 3px;
    /* width: 100%; */
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 1vmax;
    width: fit-content;
}


.form-outline{
  outline: 1px solid #ADBDB6;
  margin-left: 20px;
  margin-right: 20px;
}

input{
    padding:1vmax;
    border: 1px solid #dddddd;
    outline: none;
}

select{
    padding:1vmax;
    border: 1px solid #dddddd;
    outline: none;
}


.file_submit{
  margin-top: 1vmax;
  border: 1px solid #55acee;
  outline: none;
  background-color: white;
  color: black;
  padding: 1vmax;
  cursor: pointer;
  transition: 0.3s;
  letter-spacing: 3px;
}

.file_submit:hover{
  background-color: white;
  color: black
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #acdeff; /* Blue */
    border-radius: 50%;
    width: 140px;
    height: 140px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #submit{
    margin-top: 1vmax;
    outline: none;
    background-color: #28a745;
    color: white;
    padding: 1vmax;
    cursor: pointer;
    transition: 0.3s;
    font-family:Segoe UI;
  }

  .submit:hover{
    background-color: white;
    color: black
  }

.body-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  margin-top: 110px;
  height: 40px;
  background-color: #061A1E;
}

.body-footer-text{
  color: #F5FBEF;
  padding-right: 20px;
  line-height: 40px;
  vertical-align: middle;
}

.col {
  float: left;
  width: 30%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
