<div class="container-fluid">
  <section id="content">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="leftContent">
          <form>
            <h1 style="color:white" class="heading">Digital Inclusivity Auditor</h1>
            <p style="color:white" class="text-wrap">
              A Digital Inclusivity Auditor is a professional who assesses and ensures that digital products, services, and environments are accessible to all users, including those with disabilities. Their role is crucial in promoting digital inclusivity, which aims to eliminate barriers that prevent people from accessing and using digital technologies effectively.
            </p>
            <p style="color:white" class="text-wrap">
              Overall, Digital Inclusivity Auditors play a critical role in fostering a more inclusive digital environment where everyone, regardless of ability, can participate fully and equally in the digital world. Their work contributes to both ethical considerations and legal requirements surrounding accessibility in digital spaces.
            </p>
            <div>
              <span class="startBtn">
                <button type="button" class="btn btn-light" (click)="getStartedWithForm()">Let's Get Started <i class="bi bi-arrow-up-right"></i></button>
              </span>
              <span class="videoBtn" (click)="startVideo()">
                <i class="bi bi-play-circle" style="margin-right:5px"></i>Watch Video
              </span>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="rightContent">
          <form class="grid" *ngIf="!showForm">
            <div class="col-md-12 col-sm-12">
              <video width="100%" height="auto" controls>
                <source src="demo.mp4" type="video/mp4">
              </video>
            </div>
          </form>
          <form class="grid" method="POST" *ngIf="showForm">
            <label class="required-field"><b>URL</b></label>
            <input type="text" [(ngModel)]="name" class="form-control" id="urlNameId" name="urlName" placeholder={{url}} required>
            <label class="required-field input-group"><strong>Type of Content</strong></label>
            <div class="required-field row">
              <div class="col-lg-6 col-md-12">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" [(ngModel)]="checkBoxText" id="Text" value="Text" name="Text" />
                  <label class="form-check-label">Text</label>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" [(ngModel)]="checkBoxImage" id="Image" value="Image" name="Image" />
                  <label class="form-check-label">Image</label>
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <span class="successBtn">
                <button (click)="onSubmit()" class="btn btn-primary">Submit</button>
              </span>
              <ngx-spinner type="ball-scale-multiple" size="medium" *ngIf="loader">
                <div class="loader"></div>
                <div class="loadertext">
                  <br><p>Please wait while we work on your content biased data.<br><br>Appreciate your patience</p>
                </div>
              </ngx-spinner>
              <span class="resetBtn">
                <button (click)="handleClear()" type="button" class="btn reset">Reset</button>
              </span>
            </div>
            <div>
              <div class="alert alert-primary" role="alert">
                <p>Note: If you have a biased file you can Navigate to "Biased File Upload" page to upload your biased file before entering above details.</p>
                <button type="button" class="btn btn-primary" routerLink="/fileupload/file">Upload File</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Cards section -->
  <section id="subContent">
    <app-about></app-about>
  </section>
</div>
