<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Gender Bias Analyzer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <div ng-controller="MainController">
        <h1>Gender Bias Analyzer</h1>
        <form ng-submit="analyzeUrl()">
            <input type="text" ng-model="url" placeholder="Enter URL">
            <button type="submit">Analyze</button>
        </form>
        <div ng-if="result">
            <h2>Results</h2>
            <pre>{{ result | json }}</pre>
        </div>
    </div>
</body>
</html>
