.app-header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 51px;
    background-color: #fff;
    border-bottom: 2px solid #6c15b6;
    display: flex;
    z-index: 1001;
    transition: transform .2s ease;
}
.app-container{
    padding-left: 4.75rem;
    padding-right: 4.75rem;
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.app-header-main, .app-header-items{
    display: flex;
    align-items: center;
}
.app-header-items{
    padding-bottom: 0;
    height: 100%;
}
.app-header-items img{
    height: 1.5rem;
    width: auto;
}
.app-header-title{
    font-size: .875rem;
    font-weight: 700;
    color: #222;
    display: inline-block;
    max-width: 14rem;
    border: 0;
    position: relative;
    padding-left: 2.25rem;
    margin: 0 .625rem 0 1.625rem;
    text-decoration: none;
    background-color: transparent;
}
.app-header-title:before{
    position: absolute;
    content: "";
    left: 0;
    height: 65%;
    width: 0;
    border-left: 1.5px solid #5a5a5a;
}
.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: right;
  border-top: 2px solid #6c15b6;
  display: flex;
  z-index: 1001;
  transition: transform .2s ease;
  height: 51px;
  background-color: #fff;
}
.footer-text{
  font-size: .875rem;
  font-weight: 500;
  display: inline-block;
  max-width: 55rem;
  border: 0;
  position: relative;
  color: #222;
  padding-right: 20px;
  padding-left: 600px;
  padding-top: 6px;
  line-height: 40px;
  text-align: right;
}

ul li{
    list-style: none;
}

ul li a{
  text-decoration: none;
}

ul{
    display: flex;
    justify-content: flex-start;
    background-color: darkslategray;
    height: 40px;
}

a{
  line-height: 40px;
  color: white;
  margin: 0 20px;
  padding: 10px 10px;
}

li{
  background-color: Black;
}


.active{
  background-color: #ADBDB6;
}

.apptitlecontainer{
  color:black;
  padding-left: 20px;
  font-size: 36px;
  font-weight: 700;
  line-height: 2;
  font-family: Segoe UI;
  text-align: center;
}


#leftbox {
    float:left;
    width:25%;
    height:100px;
    padding-top:15px;
}
#middlebox{
    float:left;
    width:50%;
    height:100px;
    padding-left:85px;
}
#rightbox{
    float:right;
    width:25%;
    height:100px;
    padding-top:15px;
    padding-left:65px;
}
