<div>
  <div id = "leftbox">
       <ul>
          <li>
              <a routerLink="/home" >Home</a>
          </li>

          <li style="padding-left:40px;">
              <a routerLink="/config" >Configurations</a>
          </li>
         </ul>
  </div>
   <div id = "middlebox">
          <h2 class="apptitlecontainer">Digital Inclusivity Auditor</h2>
  </div>
   <div id = "rightbox">
     <ul>
          <li>
              <a routerLink="/fileupload/file">Biased File Upload</a>
          </li>
      </ul>

   </div>
</div>
