<div>
  <div class="app-header">
    <div class="app-container app-header-main">
      <div class="app-header-items">
        <div class="logo">
          <img src="logo.png" alt="accenture">
        </div>
        <a href="/home" routerLink="/home" class="app-header-title">Digital Inclusivity Auditor</a>

    <div class="navbar">
      <div class="nav-tab">
        <a class="nav-btn" href="/home" routerLink="/home" [class]="btnActive === 'one' ? 'active' : ''"
  (click)="activeBtn('one')">
          <i class="" style="color: #663399;"></i>Home
        </a>
        <a class="nav-btn" [routerLink]="['/home']" fragment="subContent" [class]="btnActive === 'three' ? 'active' : ''"
  (click)="activeBtn('three')">
          <i class=""></i> About Us
        </a>
        <a class="nav-btn" href="/config" routerLink="/config" [class]="btnActive === 'two' ? 'active' : ''"
  (click)="activeBtn('two')">
          <i class=""></i> Configurations
        </a>
        <a class="nav-btn" href="/home" [class]="btnActive === 'four' ? 'active' : ''"
  (click)="activeBtn('four')">
          <i class=""></i> FAQ
        </a>
        <a class="nav-btn" href="/home" [class]="btnActive === 'five' ? 'active' : ''"
  (click)="activeBtn('five')">
          <i class=""></i> Help
        </a>
      </div>
    </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <span class="footer-text">© 2023 Accenture. All Rights Reserved.</span>
  </div>
</div>
