<!--&lt;!&ndash; TAB CONTROLLERS &ndash;&gt;-->
<!--<input id="panel-1-ctrl"-->
<!--       class="panel-radios" type="radio" name="tab-radios" checked hidden="hidden">-->
<!--<input id="panel-2-ctrl"-->
<!--       class="panel-radios" type="radio" name="tab-radios" hidden="hidden">-->
<!--<input id="panel-3-ctrl"-->
<!--       class="panel-radios" type="radio" name="tab-radios" hidden="hidden">-->
<!--<input id="panel-4-ctrl"-->
<!--       class="panel-radios" type="radio" name="tab-radios" hidden="hidden">-->
<!--<input id="nav-ctrl"-->
<!--       class="panel-radios" type="checkbox" name="nav-checkbox" hidden="hidden">-->

<!--&lt;!&ndash;<div>-->
<!--  <div id = "leftbox">-->
<!--       <ul class="ulh">-->
<!--          <li class="lih">-->
<!--              <a routerLink="/" >Home</a>-->
<!--          </li>-->
<!--         </ul>-->
<!--  </div>-->
<!--   <div id = "middlebox">-->
<!--          <a class="apptitlecontainer">Digital Inclusivity Auditor</a>-->
<!--  </div>-->
<!--  <div id = "rightbox">-->
<!--     <ul>-->
<!--          <li>-->

<!--          </li>-->
<!--      </ul>-->
<!--</div>&ndash;&gt;-->

<!--&lt;!&ndash; TABS LIST &ndash;&gt;-->
<!--<ul id="tabs-list">-->
<!--    &lt;!&ndash; MENU TOGGLE &ndash;&gt;-->
<!--    <label id="open-nav-label" for="nav-ctrl"></label>-->
<!--  <li id="li-for-panel-1" style="margin-left:-5px">-->
<!--      <label class="panel-label"-->
<!--             for="panel-1-ctrl">Summary</label>-->
<!--    </li>-->
<!--    <li id="li-for-panel-2">-->
<!--      <label class="panel-label"-->
<!--             for="panel-2-ctrl">Text Results</label>-->
<!--    </li>&lt;!&ndash;INLINE-BLOCK FIX-->
<!-- &ndash;&gt;<li id="li-for-panel-3">-->
<!--      <label class="panel-label"-->
<!--             for="panel-3-ctrl">Alt Text Results</label>-->
<!--    </li>&lt;!&ndash;INLINE-BLOCK FIX-->
<!-- &ndash;&gt;<li id="li-for-panel-4">-->
<!--      <label class="panel-label"-->
<!--             for="panel-4-ctrl">Image Text Results</label>-->
<!--    </li>-->

<!--    <label id="close-nav-label" for="nav-ctrl">Close</label>-->
<!--</ul>-->

<!--&lt;!&ndash; THE PANELS &ndash;&gt;-->
<!--<article id="panels">-->
<!--  <div class="container">-->
<!--    <section id="panel-1">-->
<!--      <main>-->
<!--        &lt;!&ndash;<h1>Summary</h1>&ndash;&gt;-->
<!--        <p>-->
<!--          <div class="result" >-->
<!--            <ul>-->
<!--              <li>-->
<!--                Total Biased Sentences: {{ total_biased_text }}-->
<!--                <ul *ngFor="let txt_gender_count of text_results_tr_Gender_Count;">-->
<!--                  <li>{{ txt_gender_count[0] }}: {{ txt_gender_count[1] }}</li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <br>-->
<!--              <li>Total Biased Alt Texts: {{ total_biased_alt_text }}-->
<!--                <ul *ngFor="let alt_txt_gender_count of alt_text_results_tr_Gender_Count;">-->
<!--                  <li>{{ alt_txt_gender_count[0] }}: {{ alt_txt_gender_count[1] }}</li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <br>-->
<!--              <li>Total Biased Image Results: {{ total_biased_img_results }}-->
<!--                <ul *ngFor="let img_txt_gender_count of img_text_results_tr_Gender_Count;">-->
<!--                  <li>{{ img_txt_gender_count[0] }}: {{ img_txt_gender_count[1] }}</li>-->
<!--                </ul>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
<!--      </main>-->
<!--    </section>-->
<!--    <section id="panel-2">-->
<!--      <div class="progress-container">-->
<!--        <div class="progress-bar" id="myBar"></div>-->
<!--      </div>-->
<!--      <main>-->
<!--        &lt;!&ndash;<h1>Text Results</h1>&ndash;&gt;-->
<!--        <p>-->
<!--          <div class="result" *ngIf="biased_txt_results.length>0">-->
<!--            <ul>-->
<!--              <li *ngFor="let result of biased_txt_results;">-->
<!--                {{ result[0] }}: <span [innerHTML]="result[1]"></span>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->

<!--          <div class="result" *ngIf="biased_txt_results.length==0">-->
<!--            <p>No biased sentences found in the text.</p>-->
<!--          </div>-->
<!--      </main>-->
<!--    </section>-->
<!--    <section id="panel-3">-->
<!--      <main>-->
<!--        &lt;!&ndash;<h1>Alt Text Results</h1>&ndash;&gt;-->
<!--        <p>-->
<!--          <div class="result" *ngIf="biased_alt_results.length>0">-->
<!--            <ul *ngFor="let result of biased_alt_results;">-->
<!--              <li>-->
<!--                {{ result[0] }}: <span [innerHTML]="result[1]"></span>-->
<!--              </li>-->
<!--              <li><a href="{{ result[2] }}">{{ result[2] }}</a></li>-->
<!--            </ul>-->
<!--          </div>-->

<!--          <div class="result" *ngIf="biased_alt_results.length==0">-->
<!--            <p>No biased sentences found in the text.</p>-->
<!--          </div>-->
<!--      </main>-->
<!--    </section>-->
<!--    <section id="panel-4">-->
<!--      <main>-->
<!--        &lt;!&ndash;<h1>Image Text Results</h1>&ndash;&gt;-->
<!--        <p>-->
<!--          <div class="result" *ngIf="biased_img_results.length>0">-->
<!--            <ul *ngFor="let result of biased_img_results;">-->
<!--              <li>-->
<!--                {{ result[0] }}: <span [innerHTML]="result[1]"></span>-->
<!--              </li>-->
<!--              <li><a href="{{ result[2] }}">{{ result[2] }}</a></li>-->
<!--            </ul>-->
<!--          </div>-->

<!--          <div class="result" *ngIf="biased_img_results.length==0">-->
<!--            <p>No biased sentences found in the text.</p>-->
<!--          </div>-->
<!--      </main>-->
<!--    </section>-->

<!--  </div>-->
<!--</article>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js">-->
<!--</script>-->

<!--<br><app-barchart [contentType]="modelType" [total_biased_text]="total_biased_text"-->
<!--                  [total_biased_alt_text]="total_biased_alt_text" [total_biased_img_results]="total_biased_img_results"-->
<!--                  [text_results_tr_Gender_Count]="text_results_tr_Gender_Count"-->
<!--                  [alt_text_results_tr_Gender_Count]="alt_text_results_tr_Gender_Count"-->
<!--                  [img_text_results_tr_Gender_Count]="img_text_results_tr_Gender_Count"></app-barchart><br><br>-->


<!--New Code-->
  <div class="mt-5">
        <div class="row">
            <div class="col-md-4 mb-3">
<!--                <div class="card">-->
<!--                  <div class="card-body chart-legend-container">-->
<!--                    <h5 style="color:#981fae">Overall Gender Analysis</h5>-->
<!--                    <app-barchart [data]="overall_gender_count" [chartType]="'radial-bar'"></app-barchart>-->
<!--                  </div>-->
<!--                </div>-->
<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h5 class="card-title">{{ analysisTitle }}</h5>
      <!-- Dropdown -->
      <div class="dropdown">
        <button class="dropdown-toggle" style="background:#981fae; color:#fff; border-radius: 0.5rem; border: 1px solid #981fae;" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          Select
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item"  (click)="selectAnalysis('textContent')">Overall Gender Analysis</a></li>
          <li><a class="dropdown-item"  (click)="selectAnalysis('ethnicity')">Overall Ethnicity Analysis</a></li>
          <li><a class="dropdown-item"  (click)="selectAnalysis('geoLocation')">Overall Geo-location Analysis</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card-body">
    <!-- Graph Container -->
    <div *ngIf="selectedAnalysis === 'textContent'">
      <div *ngIf="overall_gender_count.length>0 && maxGenderPercentage!==0">
        <app-barchart [data]="overall_gender_count" [chartType]="'radial-bar'"></app-barchart>
      </div>
      <div *ngIf="maxGenderPercentage===0">
        <p>No biased keywords found in the text content.</p>
      </div>
    </div>
    <div *ngIf="selectedAnalysis === 'ethnicity'">
      <div *ngIf="total_Ethnicity_Count.length>0">
        <app-barchart [data]="total_Ethnicity_Count" [chartType]="'radial-bar'"></app-barchart>
      </div>
      <div *ngIf="total_Ethnicity_Count.length==0">
        <p>No biased keywords found in ethnicity.</p>
      </div>
    </div>
    <div *ngIf="selectedAnalysis === 'geoLocation'">
      <div *ngIf="total_GeoLocation_Count.length>0">
        <app-barchart [data]="total_GeoLocation_Count" [chartType]="'radial-bar'"></app-barchart>
      </div>
      <div *ngIf="total_GeoLocation_Count.length==0">
        <p>No biased keywords found in Geo-Locations.</p>
      </div>
    </div>
  </div>
</div>


            </div>
            <div class="col-md-4 mb-3">
                <div class="card" style=" margin-bottom: 2.2rem; height:5.5rem">
                    <div style="text-align:center;">
                        <h1 style="color:#981fae">{{ maxGenderPercentage }}%</h1>
                        <p style="color:#000000"> {{ maxGender }} Biased</p>
                    </div>
                </div>
                <div class="card" style=" margin-bottom: 2.2rem; height:5.5rem">
                    <div style="text-align:center;">
                        <h1 style="color:#981fae">{{ maxEthnicityPercentage }}%</h1>
                        <p style="color:#000000"> {{ maxEthnicity }} Biased</p>
                    </div>
                </div>
                <div class="card" style="margin-bottom: 2.2rem; height:5.5rem">
                    <div style="text-align:center;">
                        <h1 style="color:#981fae">{{ maxGeoPercentage }}%</h1>
                        <p style="color:#000000"> {{ maxGeo }} Biased</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                  <div class="card-body">
                    <h5 style="color:#981fae">Overall Text Model Results</h5>
                    <div *ngIf="textmodel_counts.length>0 && totalModelCount!==0">
                      <app-barchart [data]="textmodel_counts" [chartType]="'semi-donut'"></app-barchart>
                    </div>
                    <div *ngIf="totalModelCount===0">
                      <p>No keywords detected in text model.</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- First Card -->
            <div class="col-md-4 mb-3">
                <div class="card">
                    <!-- <div class="card"> -->
                    <div class="card-header" style="height:9rem">

                        <div class="card-body">
                            <div>
                                <p class="card-title" style="color:#981fae; font-size:medium; font-weight: bold; font-size:1.5rem">Text
                                    Results
                                    <img src="magnify1.png" alt="magnifying glass"
                                    style="height:2.5rem;width:2.5rem; float: right;"></p>
                                <a class="float-right"
                                    style="margin-bottom:2rem;text-decoration: underline; margin-right:1.7rem; ">
                                  <span (click)="activeTab(content,'Text Results')"> View Results </span>
                                </a>
                            </div>
                            <div class="horizontal-line"></div>
                            <div>
                              <div *ngIf="selectedTextOption === 'textContent'">
                                <p class="card-text" style="color:#981fae; font-weight:bold;font-size:2rem">{{ total_biased_text }}
                                    <label style="color:grey; font-weight:lighter;font-size:1rem">Total Detected
                                        Words</label>
                                </p>
                              </div>
                               <div *ngIf="selectedTextOption === 'ethnicity'">
                                <p class="card-text" style="color:#981fae; font-weight:bold;font-size:2rem">{{ total_Ethnicity_text }}
                                    <label style="color:grey; font-weight:lighter;font-size:1rem">Total Detected
                                        Words</label>
                                </p>
                              </div>
                               <div *ngIf="selectedTextOption === 'geoLocation'">
                                <p class="card-text" style="color:#981fae; font-weight:bold;font-size:2rem">{{ total_GeoLocation_text }}
                                    <label style="color:grey; font-weight:lighter;font-size:1rem">Total Detected
                                        Words</label>
                                </p>
                              </div>
                            </div>



                        </div>
                    </div>
                    <!-- </div> -->
                    <div class="card-body">


                        <div class="btn-group btn-group-toggle" data-toggle="buttons">

                            <label class="btn rounded-pill btn-light" [class.active]="selectedTextOption === 'textContent'" (click)="selectOption('textContent')">
                                <input type="radio" name="TextContentOptions" id="TextContent" autocomplete="off" [(ngModel)]="selectedTextOption" value="textContent"> Text Content
                            </label>


                            <label class="btn rounded-pill btn-light" [class.active]="selectedTextOption === 'ethnicity'" (click)="selectOption('ethnicity')">
                                <input type="radio" name="TextContentOptions" id="TextEthnicity" autocomplete="off" [(ngModel)]="selectedTextOption" value="ethnicity"> Ethnicity
                            </label>

                            <label class="btn rounded-pill btn-light" [class.active]="selectedTextOption === 'geoLocation'" (click)="selectOption('geoLocation')">
                                <input type="radio" name="TextContentOptions" id="TextGeo" autocomplete="off" [(ngModel)]="selectedTextOption" value="geoLocation"> Geo-location
                            </label>


                        </div>

                        <hr>
                        <div *ngIf="selectedTextOption === 'textContent'">
                          <div *ngIf="text_results_tr_Gender_Count.length>0">
                            <div class="progress-wrapper">
                            <div *ngFor="let item of text_results_tr_Gender_Count">
                                <div class="progress-container">
                                    <div class="progress-header">
                                        <h6>{{ item[0] | titlecase }}</h6>
                                        <span>{{ item[1] }}</span>
                                    </div>
                                    <div class="progress" style="height: 5px;">
                                        <div class="progress-bar"
                                            [style.background-color]="'#981fae'"
                                            [ngStyle]="{ width: (item[1] / maxTextValue) * 100 + '%', height: '5px' }"
                                            role="progressbar"
                                            [attr.aria-valuenow]="item[1]"
                                            aria-valuemin="0"
                                            aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>
                                <br />
                            </div>
                          </div>
                          <hr />
                          <div class="chart-legend-container">
                              <app-barchart [data]="text_results_tr_Gender_Count" [chartType]="'doughnut'"></app-barchart>
                          </div>
                          </div>
                          <div *ngIf="text_results_tr_Gender_Count.length==0">
                            <p>No biased keywords found in the text content.</p>
                          </div>
                        </div>


                        <div *ngIf="selectedTextOption === 'ethnicity'">
                          <div *ngIf="text_results_Ethnicity_Count.length>0">
                            <div class="progress-wrapper">
                            <div *ngFor="let item of text_results_Ethnicity_Count">
                                <div class="progress-container">
                                    <div class="progress-header">
                                        <h6>{{ item[0] | titlecase }}</h6>
                                        <span>{{ item[1] }}</span>
                                    </div>
                                    <div class="progress" style="height: 5px;">
                                        <div class="progress-bar"
                                            [style.background-color]="'#981fae'"
                                            [ngStyle]="{ width: (item[1] / maxTextValue) * 100 + '%', height: '5px' }"
                                            role="progressbar"
                                            [attr.aria-valuenow]="item[1]"
                                            aria-valuemin="0"
                                            aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>
                                <br />
                            </div>
                          </div>
                          <hr />
                          <div class="chart-legend-container">
                              <app-barchart [data]="text_results_Ethnicity_Count" [chartType]="'doughnut'"></app-barchart>
                          </div>
                          </div>
                          <div *ngIf="text_results_Ethnicity_Count.length==0">
                            <p>No biased keywords found in ethnicity.</p>
                          </div>
                        </div>


                        <div *ngIf="selectedTextOption === 'geoLocation'">
                          <div *ngIf="text_results_GeoLocation_Count.length>0">
                            <div class="progress-wrapper">
                            <div *ngFor="let item of text_results_GeoLocation_Count">
                                <div class="progress-container">
                                    <div class="progress-header">
                                        <h6>{{ item[0] | titlecase }}</h6>
                                        <span>{{ item[1] }}</span>
                                    </div>
                                    <div class="progress" style="height: 5px;">
                                        <div class="progress-bar"
                                            [style.background-color]="'#981fae'"
                                            [ngStyle]="{ width: (item[1] / maxTextValue) * 100 + '%', height: '5px' }"
                                            role="progressbar"
                                            [attr.aria-valuenow]="item[1]"
                                            aria-valuemin="0"
                                            aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>
                                <br />
                            </div>
                          </div>
                          <hr />
                          <div class="chart-legend-container">
                              <app-barchart [data]="text_results_GeoLocation_Count" [chartType]="'doughnut'"></app-barchart>
                          </div>
                        </div>
                          <div *ngIf="text_results_GeoLocation_Count.length==0">
                            <p>No biased keywords found in Geo-Locations.</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Second Card -->
            <div class="col-md-4 mb-3">
                <div class="card">
                    <!-- <div class="card"> -->
                    <div class="card-header" style="height:9rem">

                        <div class="card-body">
                            <div>
                                <p class="card-title" style="color:#981fae; font-size:medium; font-weight: bold;font-size:1.5rem">AltText Results

                                    <img src="gallery1.png" alt="gallery view"
                                    style="height:2.5rem;width:3rem; float: right;"></p>
                                <a class="float-right"
                                    style="margin-bottom:2rem;text-decoration: underline; margin-right:2rem; ">
                                  <span (click)="activeTab(content,'Alt Text Results')"> View Results </span>
                                </a>

                            </div>

                            <div class="horizontal-line"></div>
                            <div>
                              <div *ngIf="selectedAltOption === 'textContent'">
                                <p class="card-text" style="color:#981fae; font-weight:bold;font-size:2rem">{{ total_biased_alt_text }}
                                    <label style="color:grey; font-weight:lighter;font-size:1rem">Total Detected
                                        Words</label>
                                </p>
                                </div>
                                <div *ngIf="selectedAltOption === 'ethnicity'">
                                <p class="card-text" style="color:#981fae; font-weight:bold;font-size:2rem">{{ total_Ethnicity_alt_text }}
                                    <label style="color:grey; font-weight:lighter;font-size:1rem">Total Detected
                                        Words</label>
                                </p>
                                </div>
                                <div *ngIf="selectedAltOption === 'geoLocation'">
                                <p class="card-text" style="color:#981fae; font-weight:bold;font-size:2rem">{{ total_GeoLocation_alt_text }}
                                    <label style="color:grey; font-weight:lighter;font-size:1rem">Total Detected
                                        Words</label>
                                </p>
                                </div>
                            </div>



                        </div>
                    </div>
                    <!-- </div> -->
                    <div class="card-body">


                        <div class="btn-group btn-group-toggle" data-toggle="buttons">

                            <label class="btn rounded-pill btn-light" [class.active]="selectedAltOption === 'textContent'" (click)="selectOptionForALtText('textContent')">
                                <input type="radio" name="AltOptions" id="AltContent" autocomplete="off" [(ngModel)]="selectedAltOption" value="textContent"> Text Content
                            </label>


                            <label class="btn rounded-pill btn-light" [class.active]="selectedAltOption === 'ethnicity'" (click)="selectOptionForALtText('ethnicity')">
                                <input type="radio" name="AltOptions" id="AltEthnicity" autocomplete="off" [(ngModel)]="selectedAltOption" value="ethnicity"> Ethnicity
                            </label>

                            <label class="btn rounded-pill btn-light" [class.active]="selectedAltOption === 'geoLocation'" (click)="selectOptionForALtText('geoLocation')">
                                <input type="radio" name="AltOptions" id="AltGeo" autocomplete="off" [(ngModel)]="selectedAltOption" value="geoLocation"> Geo-location
                            </label>


                        </div>

                        <hr>
                        <div *ngIf="selectedAltOption === 'textContent'">
                          <div *ngIf="alt_text_results_tr_Gender_Count.length>0">
                            <div class="progress-wrapper">
                              <div *ngFor="let item of alt_text_results_tr_Gender_Count">
                                  <div class="progress-container">
                                      <div class="progress-header">
                                          <h6>{{ item[0] | titlecase }}</h6>
                                          <span>{{ item[1] }}</span>
                                      </div>
                                      <div class="progress" style="height: 5px;">
                                          <div class="progress-bar"
                                              [style.background-color]="'#981fae'"
                                              [ngStyle]="{ width: (item[1] / maxAltValue) * 100 + '%', height: '5px' }"
                                              role="progressbar"
                                              [attr.aria-valuenow]="item[1]"
                                              aria-valuemin="0"
                                              aria-valuemax="100">
                                          </div>
                                      </div>
                                  </div>
                                  <br />
                              </div>
                            </div>
                            <hr />
                            <div class="chart-legend-container">
                                <app-barchart [data]="alt_text_results_tr_Gender_Count" [chartType]="'doughnut'"></app-barchart>
                            </div>
                          </div>
                          <div *ngIf="alt_text_results_tr_Gender_Count.length==0">
                            <p>No biased keywords found in the text content.</p>
                          </div>
                        </div>


                        <div *ngIf="selectedAltOption === 'ethnicity'">
                          <div *ngIf="alt_text_results_Ethnicity_Count>0">
                            <div class="progress-wrapper">
                                <div *ngFor="let item of alt_text_results_Ethnicity_Count">
                                    <div class="progress-container">
                                        <div class="progress-header">
                                            <h6>{{ item[0] | titlecase }}</h6>
                                            <span>{{ item[1] }}</span>
                                        </div>
                                        <div class="progress" style="height: 5px;">
                                            <div class="progress-bar"
                                                [style.background-color]="'#981fae'"
                                                [ngStyle]="{ width: (item[1] / maxAltValue) * 100 + '%', height: '5px' }"
                                                role="progressbar"
                                                [attr.aria-valuenow]="item[1]"
                                                aria-valuemin="0"
                                                aria-valuemax="100">
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            </div>
                              <hr />
                              <div class="chart-legend-container">
                                  <app-barchart [data]="alt_text_results_Ethnicity_Count" [chartType]="'doughnut'"></app-barchart>
                              </div>
                          </div>
                          <div *ngIf="alt_text_results_Ethnicity_Count.length==0">
                            <p>No biased keywords found in ethnicity.</p>
                          </div>
                        </div>


                        <div *ngIf="selectedAltOption === 'geoLocation'">
                          <div *ngIf="alt_text_results_GeoLocation_Count.length>0">
                            <div class="progress-wrapper">
                              <div *ngFor="let item of alt_text_results_GeoLocation_Count">
                                  <div class="progress-container">
                                      <div class="progress-header">
                                          <h6>{{ item[0] | titlecase }}</h6>
                                          <span>{{ item[1] }}</span>
                                      </div>
                                      <div class="progress" style="height: 5px;">
                                          <div class="progress-bar"
                                              [style.background-color]="'#981fae'"
                                              [ngStyle]="{ width: (item[1] / maxAltValue) * 100 + '%', height: '5px' }"
                                              role="progressbar"
                                              [attr.aria-valuenow]="item[1]"
                                              aria-valuemin="0"
                                              aria-valuemax="100">
                                          </div>
                                      </div>
                                  </div>
                                  <br />
                              </div>
                            </div>
                            <hr />
                            <div class="chart-legend-container">
                                <app-barchart [data]="alt_text_results_GeoLocation_Count" [chartType]="'doughnut'"></app-barchart>
                            </div>
                          </div>
                          <div *ngIf="alt_text_results_GeoLocation_Count.length==0">
                            <p>No biased keywords found in Geo-Locations.</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Third Card -->
            <div class="col-md-4 mb-3">
                <div class="card">
                    <!-- <div class="card"> -->
                    <div class="card-header" style="height:9rem">

                        <div class="card-body">
                            <div>

                                <p class="card-title" style="color:#981fae; font-size:medium; font-weight: bold;font-size:1.5rem">Image Text Results

                                    <img src="text1.png" alt="font"
                                    style="height:2.5rem;width:2.5rem; float: right;"></p>
                                <a class="float-right"
                                    style="margin-bottom:2rem;text-decoration: underline; margin-right:2rem; ">
                                  <span (click)="activeTab(content,'Image Text Results')"> View Results </span>
                                </a>


                            </div>

                            <div class="horizontal-line"></div>
                            <div>
                              <div *ngIf = "selectedImgTxtOption === 'textContent'">
                                <p class="card-text" style="color:#981fae; font-weight:bold;font-size:2rem">{{ total_biased_img_results }}
                                    <label style="color:grey; font-weight:lighter;font-size:1rem">Total Detected
                                        Words</label>
                                </p>
                                </div>
                               <div *ngIf = "selectedImgTxtOption === 'ethnicity'">
                                <p class="card-text" style="color:#981fae; font-weight:bold;font-size:2rem">{{ total_Ethnicity_img_text }}
                                    <label style="color:grey; font-weight:lighter;font-size:1rem">Total Detected
                                        Words</label>
                                </p>
                                </div>
                               <div *ngIf = "selectedImgTxtOption === 'geoLocation'">
                                <p class="card-text" style="color:#981fae; font-weight:bold;font-size:2rem">{{ total_GeoLocation_img_text }}
                                    <label style="color:grey; font-weight:lighter;font-size:1rem">Total Detected
                                        Words</label>
                                </p>
                                </div>
                            </div>



                        </div>
                    </div>
                    <!-- </div> -->
                    <div class="card-body">


                        <div class="btn-group btn-group-toggle" data-toggle="buttons">

                            <label class="btn rounded-pill btn-light" [class.active]="selectedImgTxtOption === 'textContent'" (click)="selectOptionForImage('textContent')">
                                <input type="radio" name="ImgTxtOptions" id="ImgTxtContent" autocomplete="off" [(ngModel)]="selectedImgTxtOption" value="textContent"> Text Content
                            </label>


                            <label class="btn rounded-pill btn-light" [class.active]="selectedImgTxtOption === 'ethnicity'" (click)="selectOptionForImage('ethnicity')">
                                <input type="radio" name="ImgTxtOptions" id="ImgTxtEthnicity" autocomplete="off" [(ngModel)]="selectedImgTxtOption" value="ethnicity"> Ethnicity
                            </label>

                            <label class="btn rounded-pill btn-light" [class.active]="selectedImgTxtOption === 'geoLocation'" (click)="selectOptionForImage('geoLocation')">
                                <input type="radio" name="ImgTxtOptions" id="ImgTxtGeo" autocomplete="off" [(ngModel)]="selectedImgTxtOption" value="geoLocation"> Geo-location
                            </label>


                        </div>

                        <hr>
                        <div *ngIf="selectedImgTxtOption === 'textContent'">
                          <div *ngIf="img_text_results_tr_Gender_Count.length>0">
                            <div class="progress-wrapper">
                              <div *ngFor="let item of img_text_results_tr_Gender_Count">
                                  <div class="progress-container">
                                      <div class="progress-header">
                                          <h6>{{ item[0] | titlecase }}</h6>
                                          <span>{{ item[1] }}</span>
                                      </div>
                                      <div class="progress" style="height: 5px;">
                                          <div class="progress-bar"
                                              [style.background-color]="'#981fae'"
                                              [ngStyle]="{ width: (item[1] / maxImgTxtValue) * 100 + '%', height: '5px' }"
                                              role="progressbar"
                                              [attr.aria-valuenow]="item[1]"
                                              aria-valuemin="0"
                                              aria-valuemax="100">
                                          </div>
                                      </div>
                                  </div>
                                  <br />
                              </div>
                            </div>
                            <hr />
                            <div class="chart-legend-container">
                                <app-barchart [data]="img_text_results_tr_Gender_Count" [chartType]="'doughnut'"></app-barchart>
                            </div>
                          </div>
                          <div *ngIf="img_text_results_tr_Gender_Count.length==0">
                            <p>No biased keywords found in the text content.</p>
                          </div>
                        </div>
                        <div *ngIf="selectedImgTxtOption === 'ethnicity'">
                          <div *ngIf="img_text_results_Ethnicity_Count.length>0">
                            <div class="progress-wrapper">
                              <div *ngFor="let item of img_text_results_Ethnicity_Count">
                                  <div class="progress-container">
                                      <div class="progress-header">
                                          <h6>{{ item[0] | titlecase }}</h6>
                                          <span>{{ item[1] }}</span>
                                      </div>
                                      <div class="progress" style="height: 5px;">
                                          <div class="progress-bar"
                                              [style.background-color]="'#981fae'"
                                              [ngStyle]="{ width: (item[1] / maxImgTxtValue) * 100 + '%', height: '5px' }"
                                              role="progressbar"
                                              [attr.aria-valuenow]="item[1]"
                                              aria-valuemin="0"
                                              aria-valuemax="100">
                                          </div>
                                      </div>
                                  </div>
                                  <br />
                              </div>
                            </div>
                            <hr />
                            <div class="chart-legend-container">
                                <app-barchart [data]="img_text_results_Ethnicity_Count" [chartType]="'doughnut'"></app-barchart>
                            </div>
                          </div>
                          <div *ngIf="img_text_results_Ethnicity_Count.length==0">
                            <p>No biased keywords found in ethnicity.</p>
                          </div>
                        </div>
                        <div *ngIf="selectedImgTxtOption === 'geoLocation'">
                          <div *ngIf="img_text_results_GeoLocation_Count.length>0">
                             <div class="progress-wrapper">
                              <div *ngFor="let item of img_text_results_GeoLocation_Count">
                                  <div class="progress-container">
                                      <div class="progress-header">
                                          <h6>{{ item[0] | titlecase }}</h6>
                                          <span>{{ item[1] }}</span>
                                      </div>
                                      <div class="progress" style="height: 5px;">
                                          <div class="progress-bar"
                                              [style.background-color]="'#981fae'"
                                              [ngStyle]="{ width: (item[1] / maxImgTxtValue) * 100 + '%', height: '5px' }"
                                              role="progressbar"
                                              [attr.aria-valuenow]="item[1]"
                                              aria-valuemin="0"
                                              aria-valuemax="100">
                                          </div>
                                      </div>
                                  </div>
                                  <br />
                              </div>
                            </div>
                            <hr />
                            <div class="chart-legend-container">
                                <app-barchart [data]="img_text_results_GeoLocation_Count" [chartType]="'doughnut'"></app-barchart>
                            </div>
                          </div>
                          <div *ngIf="img_text_results_GeoLocation_Count.length==0">
                            <p>No biased keywords found in Geo-Locations.</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Gender Name</th>
                            <th>Default Biased Words</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let u of defaultWords;  let i =index">
                            <td>{{i+1}}</td>
                            <td>{{u.GenderName}}</td>
                            <td>{{u.BaisedWord}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-6">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Gender Name</th>
                            <th>Uploaded Biased Words</th>
                        </tr>
                    </thead>
                    <tbody>
                       <tr *ngFor="let u of users;  let i =index">
                            <td>{{i+1}}</td>
                            <td>{{u.Gender}}</td>
                            <td>{{u.Words}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<ng-template #content let-modal>
                                <div class="modal-header">
                                    <h4 class="modal-title"
                                        id="modal-basic-title">
                                      <span >{{resultSection}} </span>
                                    </h4>
                                    <button type="button" class="close"
                                            aria-label="Close" (click)=
                                            "modal.dismiss('Cross click')">

                                        <span aria-hidden="true">
                                            ×
                                        </span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group" *ngIf="resultSection === 'Text Results'">
                                            <div class="result" *ngIf="biased_txt_results.length>0">
                                              <ul>
                                                  <li *ngFor="let result of biased_txt_results;">
                                                        {{ result[0] }}: <span [innerHTML]="result[1]"></span>
                                                  </li>
                                              </ul>
                                            </div>
                                            <div class="result" *ngIf="biased_txt_results.length==0">
                                                <p>No biased sentences found in the text.</p>
                                            </div>
                                        </div>
                                        <div class="form-group" *ngIf="resultSection === 'Alt Text Results'">
                                            <div class="result" *ngIf="biased_alt_results.length>0">
                                              <ul *ngFor="let result of biased_alt_results;">
                                                <li>
                                                  {{ result[0] }}: <span [innerHTML]="result[1]"></span>
                                                </li>
                                                <li><a href="{{ result[2] }}">{{ result[2] }}</a></li>
                                              </ul>
                                            </div>
                                            <div class="result" *ngIf="biased_alt_results.length==0">
                                                <p>No biased sentences found in the alt text.</p>
                                            </div>
                                        </div>
                                        <div class="form-group" *ngIf="resultSection === 'Image Text Results'">
                                            <div class="result" *ngIf="biased_img_results.length>0">
                                              <ul *ngFor="let result of biased_img_results;">
                                                <li>
                                                  {{ result[0] }}: <span [innerHTML]="result[1]"></span>
                                                </li>
                                                <li><a href="{{ result[2] }}">{{ result[2] }}</a></li>
                                              </ul>
                                            </div>
                                            <div class="result" *ngIf="biased_img_results.length==0">
                                                <p>No biased sentences found in the img alt text.</p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
</ng-template>
