# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
!/dist
/tmp
/out-tsc
/bazel-out

# Node
!/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
DIA/.vscode/*
!DIA/.vscode/settings.json
!DIA/.vscode/tasks.json
!DIA/.vscode/launch.json
!DIA/.vscode/extensions.json
.history/*

# Miscellaneous
!/DIA/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
