/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/css/all.css';

html, body{
  margin: 0;
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 0;
  overflow-x: hidden;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
 }

 .wordcolor{
    color: #981fae;
    font-weight: bold;
 }
