<div class="container m-5 ">
 <div class="form-header">

<p-panelMenu [multiple]='false' [model]="gfg" >
  <ng-template pTemplate="item" let-item>
        <ng-container >
            <a class="flex align-items-center cursor-pointer text-color px-3 py-2">
                <span [class]="item.icon"></span>
                <span class="ml-2 text-color" (click)="activeMenu($event)" id="{{item.id}}">{{ item.label }} </span>
            </a>
        </ng-container>
  </ng-template>
</p-panelMenu>

 </div>
</div>


