
<div class="configuration-page">
  <div class="sidebar">
    <button (click)="selectSection('gender')" [class.active]="selectedSection === 'gender'">
      Gender Configuration
    </button>
    <button (click)="selectSection('biased')" [class.active]="selectedSection === 'biased'">
      Default Biased Word Configuration
    </button>

     <button (click)="selectSection('ethnicity')" [class.active]="selectedSection === 'ethnicity'">
      Ethnicity
    </button>

     <button (click)="selectSection('geolocation')" [class.active]="selectedSection === 'geolocation'">
      Geo-location
    </button>
    <button (click)="selectSection('upload')" [class.active]="selectedSection === 'upload'">
      Upload File
    </button>
  </div>
  <div class="content">
    <app-gender *ngIf="selectedSection === 'gender'"></app-gender>
    <app-baisedwords *ngIf="selectedSection === 'biased'"></app-baisedwords>
    <app-ethnicity *ngIf="selectedSection === 'ethnicity'"></app-ethnicity>
    <app-geolocation *ngIf="selectedSection === 'geolocation'"></app-geolocation>
    <app-file *ngIf="selectedSection === 'upload'"></app-file>
  </div>
</div>
