<!--<div ng-app="myapp">-->
<!--  <div class="form-header" ng-controller="MainCtrl">-->
<!--  <h2 class="text-primary text-center">File Upload</h2>-->

<!--  <div class="form-file-upload">-->
<!--  <input type="file" [(ngModel)]="filename" class="file-input" (change)="onChange($event);"  accept=".xlsx" #fileUpload />-->
<!--   <button style="margin-left:20px" (click)="onDownload()">Template Biased File Upload</button>-->
<!--  </div>-->
<!--    </div>-->
<!--  <div class="text-center form-file-details" *ngIf="file">-->
<!--    File details:-->
<!--    <section class="file-info">-->

<!--      <ul>-->
<!--        <li>Name: {{file.name}}</li>-->
<!--        <li>Type: {{file.type}}</li>-->
<!--        <li>Size: {{file.size}} bytes</li>-->
<!--      </ul>-->
<!--    </section>-->

<!--    <button (click)="onUpload()" class="btn btn-primary">Upload the file</button>-->

<!--    <section [ngSwitch]="status">-->
<!--      <p *ngSwitchCase="'uploading'">⏳ Uploading the file...</p>-->
<!--      <p *ngSwitchCase="'success'">✅ Done! You can go back to "Home" page to check biased content. </p>-->
<!--      <p *ngSwitchCase="'fail'">❌ Error!</p>-->
<!--      <p *ngSwitchDefault>😶 Waiting to upload...</p>-->
<!--    </section>-->
<!--  </div>-->
<!--  <div class="row form-excel-data">-->
<!--        <div class="col-sm-12 table-wrapper" >-->
<!--      <table class= "bg"  *ngIf="defaultwords.length>0" style="float: left;">-->

<!--            <tbody>-->
<!--              <tr>-->
<!--                <th scope="col" style="width: 20px;">S.No</th>-->
<!--                <th scope="col" style="width: 40px;">Gender Name</th>-->
<!--                <th scope="col">Default Biased Words</th>-->

<!--              </tr>-->
<!--            <tr *ngFor="let u of defaultwords;  let i =index">-->
<!--                    <td>{{i+1}}</td>-->
<!--                    <td>{{u.GenderName}}</td>-->
<!--                    <td>{{u.BaisedWord}}</td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--</table>-->

<!--<table  class = "bg" *ngIf="users.length>0" style="float: left;margin-left: 10px;">-->
<!--            <tbody>-->
<!--              <tr>-->
<!--                  <th scope="col" style="width: 20px;">S.No</th>-->
<!--                  <th scope="col" style="width: 40px;">Gender Name</th>-->
<!--                  <th scope="col">Uploaded Biased Words</th>-->
<!--              </tr>-->
<!--                <tr *ngFor="let u of users;  let i =index">-->
<!--                    <td>{{i+1}}</td>-->
<!--                    <td>{{u.Gender}}</td>-->
<!--                    <td>{{u.Words}}</td>-->
<!--                </tr>-->

<!--            </tbody>-->
<!--      </table>-->

<!--      <table class="table" #table style="display:none">-->
<!--            <tbody>-->
<!--              <tr>-->
<!--                <th scope="col">Gender</th>-->
<!--                <th scope="col">Words</th>-->
<!--              </tr>-->
<!--            </tbody>-->
<!--      </table>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--New Code-->
<div ng-app="myapp">
  <div class="form-header" ng-controller="MainCtrl">
  <h2>File Upload</h2>

      <form class="form-file-upload">
    <div class="row">
  <input class="form-control col-sm-4" type="file" id="formFileMultiple" multiple [(ngModel)]="filename"  (change)="onChange($event);"  accept=".xlsx" #fileUpload />
  <button (click)="onUpload()" class="upload btn btn-primary">Upload the file</button>
  <button type="button" class="downloadBtn btn btn-primary col-sm-2" (click)="onDownload()">Download Template Biased File</button>
    </div>
  </form>
    </div>


  <div class="form-file-details" *ngIf="file">
    File details:
    <section class="file-info">

      <ul>
        <li>Name: {{file.name}}</li>
        <li>Type: {{file.type}}</li>
        <li>Size: {{file.size}} bytes</li>
      </ul>
    </section>

<!--    <button (click)="onUpload()" class="btn btn-primary">Upload the file</button>-->

    <section [ngSwitch]="status">
      <p *ngSwitchCase="'uploading'">⏳ Uploading the file...</p>
      <p *ngSwitchCase="'success'">✅ Done! You can go back to "Home" page to check biased content. </p>
      <p *ngSwitchCase="'fail'">❌ Error!</p>
      <p *ngSwitchDefault>😶 Waiting to upload...</p>
    </section>
  </div>
  <div class="row form-excel-data">
        <div class="col-sm-12 table-wrapper" >
      <table class= "table"  *ngIf="defaultwords.length>0" style="float: left;">

            <thead class="thead-light">
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">Gender Name</th>
                <th scope="col">Default Biased Words</th>

              </tr>
            </thead>
        <tbody>
            <tr *ngFor="let u of defaultwords;  let i =index">
                    <td>{{i+1}}</td>
                    <td>{{u.GenderName}}</td>
                    <td>{{u.BaisedWord}}</td>
            </tr>
            </tbody>
</table>

<table  class = "table" *ngIf="users.length>0" style="float: left;margin-left: 10px;">
           <thead class="thead-light">
              <tr>
                  <th scope="col">S.No</th>
                  <th scope="col">Gender Name</th>
                  <th scope="col">Uploaded Biased Words</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of users;  let i =index">
                    <td>{{i+1}}</td>
                    <td>{{u.Gender}}</td>
                    <td>{{u.Words}}</td>
                </tr>
            </tbody>
      </table>

      <table class="table" #table style="display:none">
             <thead class="thead-light">
              <tr>
                <th scope="col">Gender</th>
                <th scope="col">Words</th>
              </tr>
            </thead>
        <tbody></tbody>
      </table>

    </div>
  </div>
</div>

