<!doctype html>
<html lang="en" data-critters-container>
<head>
  <meta charset="utf-8">
  <title>DIA</title>
  <base href="/static/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<style>html,body{margin:0;background-color:#2f4f4f;height:100%;width:100%;padding:0;overflow-x:hidden}</style><link rel="stylesheet" href="styles.e24ddf1ac91e355b.css" media="print" onload="this.media='all'"><noscript><link rel="stylesheet" href="styles.e24ddf1ac91e355b.css"></noscript></head>
<body>
  <app-root></app-root>
<script src="runtime.b620f30fe03890b2.js" type="module"></script><script src="polyfills.5c3c16ced3a42513.js" type="module"></script><script src="main.8e7825c4a64b3395.js" type="module"></script></body>
</html>
