<!-- TAB CONTROLLERS -->
<input id="main-panel-1-ctrl"
       class="main-panel-radios" type="radio" name="main-tab-radios" checked hidden="hidden">
<input id="main-panel-2-ctrl"
       class="main-panel-radios" type="radio" name="main-tab-radios" hidden="hidden">
<input id="main-nav-ctrl"
       class="main-panel-radios" type="checkbox" name="main-nav-checkbox" hidden="hidden">

<!-- TABS LIST -->
<ul id="main-tabs-list">
    <!-- MENU TOGGLE -->
    <label id="main-open-nav-label" for="main-nav-ctrl"></label>
    <li id="main-li-for-panel-1" (click)="selectTextModel()">
      <label class="main-panel-label" for="main-panel-1-ctrl">Text Model Results</label>
    </li><!--INLINE-BLOCK FIX-->
    <li id="main-li-for-panel-2" (click)="selectImageModel()">
      <label class="main-panel-label" for="main-panel-2-ctrl">Image Model Results</label>
    </li><!--INLINE-BLOCK FIX-->
    <label id="main-close-nav-label" for="main-nav-ctrl">Close</label>
</ul>

<!-- THE PANELS -->
<article id="main-panels">
  <div class="main-container">
    <section id="main-panel-1" *ngIf="showTextResult">
      <main>
        <app-textresult></app-textresult>
      </main>
    </section>
    <section id="main-panel-2" *ngIf="showImageResult">
      <main>
        <app-imageresult></app-imageresult>
      </main>
    </section>
  </div>
</article>
