/*.img-progress-container {
  width: 81+%;
  height: 0px;
  background: #ccc;
}

.img-progress-bar {
  height: 8px;
  background: #04AA6D;
  width: 0%;
}
 .lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400|Inconsolata);
ul#img-tabs-list {
  list-style: none;
  text-align: center;
  border-bottom: 1px solid darkslategray;
  margin: 0;
  padding: 0;
}

label.img-panel-label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  width: 100%;
  cursor: pointer;
  background-color: #ecf0f1;
  color: #000000;
  transition-property: background-color, color;
  transition-duration: 200ms;
}
label.img-panel-label:hover {
  color: #981fae;
}

#img-panels {
  background-color: white;
}
#img-panels .img-container {
  margin: 0 auto;
  width: 94%;
}
#img-panels section header label.img-panel-label {
  padding: 12px 24px;
  box-sizing: border-box;
}
#img-panels section main {
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 600ms;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid black;
  border-collapse: separate;
  border-spacing: 0px;
  margin-left: 182px;
  width: 72%;
  max-height: 0px;
}

#img-panel-1-ctrl:checked ~ #img-panels #img-panel-1 main {
  max-height: initial;
  opacity: 1;
  padding: 1rem 1.5rem;
}

#img-panel-2-ctrl:checked ~ #img-panels #img-panel-2 main {
  max-height: initial;
  opacity: 1;
  padding: 1rem 1.5rem;
}

#img-panel-3-ctrl:checked ~ #img-panels #img-panel-3 main {
  max-height: initial;
  opacity: 1;
  padding: 48px 24px;
}

#img-panel-4-ctrl:checked ~ #img-panels #img-panel-4 main {
  max-height: initial;
  opacity: 1;
  padding: 1rem 1.5rem;
}

#img-panel-5-ctrl:checked ~ #img-panels #img-panel-5 main {
  max-height: initial;
  opacity: 1;
  padding: 1rem 1.5rem;
}

@media all and (max-width: 767px) {
  #img-nav-ctrl:checked ~ #img-tabs-list #img-li-for-panel-1 {
    max-height: 46px;
    opacity: 1;
  }

  #img-nav-ctrl:checked ~ #img-tabs-list #img-li-for-panel-2 {
    max-height: 46px;
    opacity: 1;
  }

  #img-nav-ctrl:checked ~ #img-tabs-list #img-li-for-panel-3 {
    max-height: 46px;
    opacity: 1;
  }

  #img-nav-ctrl:checked ~ #img-tabs-list #img-li-for-panel-4 {
    max-height: 46px;
    opacity: 1;
  }

  #img-nav-ctrl:checked ~ #img-tabs-list #img-li-for-panel-5 {
    max-height: 46px;
    opacity: 1;
  }

  #img-open-nav-label {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }

  #img-nav-ctrl:checked ~ #img-tabs-list #img-open-nav-label {
    display: none;
  }

  #img-close-nav-label {
    display: block;
    max-height: 0;
    overflow-y: hidden;
    background-color: #444444;
    color: #ecf0f1;
    padding: 0px;
    transition: max-height 200ms;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1px;
  }

  #img-nav-ctrl:checked ~ #img-tabs-list #img-close-nav-label {
    max-height: 36px;
    opacity: 1;
    padding: 12px 24px;
  }

  #img-tabs-list {
    position: relative;
  }
  #img-tabs-list label.img-panel-label {
    padding: 12px 0;
  }
  #img-tabs-list #img-li-for-panel-1 {
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 200ms;
  }
  #img-tabs-list #img-li-for-panel-2 {
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 200ms;
  }
  #img-tabs-list #img-li-for-panel-3 {
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 200ms;
  }
  #img-tabs-list #img-li-for-panel-4 {
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 200ms;
  }
  #img-tabs-list #img-li-for-panel-5 {
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 200ms;
  }

  #img-panel-1-ctrl:checked ~ #img-tabs-list #img-li-for-panel-1 {
    max-height: 46px;
    opacity: 1;
  }
  #img-panel-1-ctrl:checked ~ #img-tabs-list #img-li-for-panel-1 label.img-panel-label {
    background-color: white;
    color: #981fae;
    background-color: #981fae;
    color: white;
  }

  #img-panel-2-ctrl:checked ~ #img-tabs-list #img-li-for-panel-2 {
    max-height: 46px;
    opacity: 1;
  }
  #img-panel-2-ctrl:checked ~ #img-tabs-list #img-li-for-panel-2 label.img-panel-label {
    background-color: white;
    color: #981fae;
    background-color: #981fae;
    color: white;
  }

  #img-panel-3-ctrl:checked ~ #img-tabs-list #img-li-for-panel-3 {
    max-height: 46px;
    opacity: 1;
  }
  #img-panel-3-ctrl:checked ~ #img-tabs-list #img-li-for-panel-3 label.img-panel-label {
    background-color: white;
    color: #981fae;
    background-color: #981fae;
    color: white;
  }

  #img-panel-4-ctrl:checked ~ #img-tabs-list #img-li-for-panel-4 {
    max-height: 46px;
    opacity: 1;
  }
  #img-panel-4-ctrl:checked ~ #img-tabs-list #img-li-for-panel-4 label.img-panel-label {
    background-color: white;
    color: #981fae;
    background-color: #981fae;
    color: white;
  }

  #img-panel-5-ctrl:checked ~ #img-tabs-list #img-li-for-panel-5 {
    max-height: 46px;
    opacity: 1;
  }
  #img-panel-5-ctrl:checked ~ #img-tabs-list #img-li-for-panel-5 label.img-panel-label {
    background-color: white;
    color: #981fae;
    background-color: #981fae;
    color: white;
  }

  #img-panels .img-container {
    width: 100%;
  }
  #img-panels section header {
    display: block;
  }
}
@media all and (min-width: 768px) {
  #img-panel-1-ctrl:checked ~ #img-tabs-list #img-li-for-panel-1 {
    pointer-events: none;
    cursor: default;
    transform: translate3d(0, 1px, 0);
    box-shadow: none;
    border-right: none;
  }
  #img-panel-1-ctrl:checked ~ #img-tabs-list #img-li-for-panel-1.last {
    border-right: 1px solid transparent;
  }
  #img-panel-1-ctrl:checked ~ #img-tabs-list #img-li-for-panel-1 + li {
    border-left: 1px solid #dfdfdf;
  }
  #img-panel-1-ctrl:checked ~ #img-tabs-list #img-li-for-panel-1 label.img-panel-label {
    background-color: white;
    color: #981fae;
    padding-top: 26px;
  }
  #img-panel-1-ctrl:checked ~ #img-tabs-list #img-li-for-panel-1 label.img-panel-label::after {
    height: 6px;
  }

  #img-panel-2-ctrl:checked ~ #img-tabs-list #img-li-for-panel-2 {
    pointer-events: none;
    cursor: default;
    transform: translate3d(0, 1px, 0);
    box-shadow: none;
    border-right: none;
  }
  #img-panel-2-ctrl:checked ~ #img-tabs-list #img-li-for-panel-2.last {
    border-right: 1px solid transparent;
  }
  #img-panel-2-ctrl:checked ~ #img-tabs-list #img-li-for-panel-2 + li {
    border-left: 1px solid #dfdfdf;
  }
  #img-panel-2-ctrl:checked ~ #img-tabs-list #img-li-for-panel-2 label.img-panel-label {
    background-color: white;
    color: #981fae;
    padding-top: 26px;
  }
  #img-panel-2-ctrl:checked ~ #img-tabs-list #img-li-for-panel-2 label.img-panel-label::after {
    height: 6px;
  }

  #img-panel-3-ctrl:checked ~ #img-tabs-list #img-li-for-panel-3 {
    pointer-events: none;
    cursor: default;
    transform: translate3d(0, 1px, 0);
    box-shadow: none;
    border-right: none;
  }
  #img-panel-3-ctrl:checked ~ #img-tabs-list #img-li-for-panel-3.last {
    border-right: 1px solid transparent;
  }
  #img-panel-3-ctrl:checked ~ #img-tabs-list #img-li-for-panel-3 + li {
    border-left: 1px solid #dfdfdf;
  }
  #img-panel-3-ctrl:checked ~ #img-tabs-list #img-li-for-panel-3 label.img-panel-label {
    background-color: white;
    color: #981fae;
    padding-top: 26px;
  }
  #img-panel-3-ctrl:checked ~ #img-tabs-list #img-li-for-panel-3 label.img-panel-label::after {
    height: 6px;
  }

  #img-panel-4-ctrl:checked ~ #img-tabs-list #img-li-for-panel-4 {
    pointer-events: none;
    cursor: default;
    transform: translate3d(0, 1px, 0);
    box-shadow: none;
    border-right: none;
  }
  #img-panel-4-ctrl:checked ~ #img-tabs-list #img-li-for-panel-4.last {
    border-right: 1px solid transparent;
  }
  #img-panel-4-ctrl:checked ~ #img-tabs-list #img-li-for-panel-4 + li {
    border-left: 1px solid #dfdfdf;
  }
  #img-panel-4-ctrl:checked ~ #img-tabs-list #img-li-for-panel-4 label.img-panel-label {
    background-color: white;
    color: #981fae;
    padding-top: 26px;
  }
  #img-panel-4-ctrl:checked ~ #img-tabs-list #img-li-for-panel-4 label.img-panel-label::after {
    height: 6px;
  }

  #img-panel-5-ctrl:checked ~ #img-tabs-list #img-li-for-panel-5 {
    pointer-events: none;
    cursor: default;
    transform: translate3d(0, 1px, 0);
    box-shadow: none;
    border-right: none;
  }
  #img-panel-5-ctrl:checked ~ #img-tabs-list #img-li-for-panel-5.last {
    border-right: 1px solid transparent;
  }
  #img-panel-5-ctrl:checked ~ #img-tabs-list #img-li-for-panel-5 + li {
    border-left: 1px solid #dfdfdf;
  }
  #img-panel-5-ctrl:checked ~ #img-tabs-list #img-li-for-panel-5 label.img-panel-label {
    background-color: white;
    color: #981fae;
    padding-top: 26px;
  }
  #img-panel-5-ctrl:checked ~ #img-tabs-list #img-li-for-panel-5 label.img-panel-label::after {
    height: 6px;
  }

  ul#img-tabs-list {
    text-align: center;
    border-bottom: 0px solid #dfdfdf;
  }
  ul#img-tabs-list li {
    display: inline-block;
    text-align: center;
    font-size: 0.875em;
    width: 22.5%;
    box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.05);
    border-right: 1px solid #dfdfdf;
    position: relative;
  }
  ul#img-tabs-list li:hover {
    transition: none;
    border-right: none;
  }
  ul#img-tabs-list li:hover.last {
    border-right: 1px solid transparent;
  }
  ul#img-tabs-list li:hover + li {
    border-left: 1px solid #dfdfdf;
  }
  ul#img-tabs-list li label.img-panel-label {
    position: relative;
    padding: 24px 0px;
  }
  ul#img-tabs-list li label.img-panel-label::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 100%;
    background-color: #981fae;
    height: 0;
    transition-property: height;
    transition-duration: 200ms;
  }
  ul#img-tabs-list li label.img-panel-label:hover {
    padding-top: 25px;
  }
  ul#img-tabs-list li label.img-panel-label:hover::after {
    height: 6px;
  }

  #img-open-nav-label,
#img-close-nav-label {
    display: none;
  }

  #img-nav-ctrl {
    display: none;
  }
}
@media all and (min-width: 900px) {
  main {
    width: 73%;
    margin: 0 auto;
  }
}
.img-panel-radios {
  position: fixed;
  left: 50%;
  top: 10px;
  width: 20px;
  opacity: 0.5;
  z-index: 99;
}
.img-panel-radios:nth-child(1) {
  transform: translateX(-50px);
}
.img-panel-radios:nth-child(2) {
  transform: translateX(-30px);
}
.img-panel-radios:nth-child(3) {
  transform: translateX(-10px);
}
.img-panel-radios:nth-child(4) {
  transform: translateX(10px);
}
.img-panel-radios:nth-child(5) {
  transform: translateX(30px);
}
.img-panel-radios:nth-child(6) {
  top: 30px;
  transform: translateX(-10px);
  display: block;
}

body {
  background: white;
  color: white;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

#introduction {
  width: 90%;
  margin: 0 auto;
  margin-top: -60px;
  padding: 48px 24px;
  color: white;
}
#introduction h1 {
  font-weight: 300;
  text-align: center;
}

main h1 {
  margin-top: -40px;
  font-weight: 300;
  color: white;
}
main p {
  line-height: 1.8;
}
main hr {
  margin: 12px 0;
  border-top: 1px solid #dfdfdf;
}

label.img-demo-label {
  background-color: white;
  color: #981fae;
  padding: 4px 8px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
label.img-demo-label:hover {
  background-color: white;
}

#img-demo-child-toggle {
  display: none;
}
#img-demo-child-toggle:checked ~ #img-demo-parent #img-demo-child {
  color: #981fae;
  font-weight: bold;
  text-transform: uppercase;
}

#img-demo-parent {
 margin-top: 8px;
}

code,
pre {
  color: #981fae;
  font-family: Inconsolata, "Andale Mono", Andale, monowidth;
  background-color: #ecf0f1;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
}

code {
  padding: 2px 6px;
}

pre {
  padding: 12px;
  line-height: 1.6;
}
pre strong {
  color: #444444;
  font-weight: normal;
}

.img-result{
  max-height: 200px;
}




  @import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Poppins&display=swap");

bodycar {
  background-color: #d5e1ef;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#introductioncar {
  width: 90%;
  margin: -60px 0 0 60;
  padding: 28px 24px 30 30;

  color: Black;
}

 h1car {
 margin: -30px 0 0 60;
  padding: 28px 54px 0 0;
  text-align: center;
}
.containercar {
  width: 100%;
  height: 100%;
}
.card {
  background-color: #f9fafe;
  width: 150%;
  height: 45%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  position: relative;
  padding: 300px 0px 0 0px;
  transition: transform 400ms;
  opacity: 0.5;
  box-shadow: none;
}

.quote-icon {
  position: absolute;
  z-index: 0;
  opacity: 0.05;
  left: 3%;
  top: 0;
}

.avatar {
  width: 350px;
  height: 150px;
  border-radius: 150px;
  border: 5px solid #f9fafe;
  box-shadow: 0 0 50px #ccc;
  position: absolute;
  top: 0;
  left: 20%;
  transform: translate(-90px, 10px);
  z-index: 1;
  margin-top: 70px;
  margin-left:10px;
}

.headercar {
  margin: 120px 0 0 -30;
  text-align: Left;
  z-index: 1;
}

.name {
  font-family: "Hammersmith One", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  margin: 10px;
  padding: 0 5px;
  background-color: black;
}

.title {
  font-family: "Hammersmith One", sans-serif;

  font-size: 14px;
  font-weight: 400;
  margin: -1px 0 0 -10;
  padding: 0 5px;
  color: black;
}

.quote-container {
  margin: 0;
  height: 100%;
  z-index: 1;
  padding: 15px 30px 30px 30px;
  overflow: hidden;
}

.quote {
  width: 100%;
  height: 95%;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  text-align: center;
  color: #73808c;
  margin: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.swiper-slide-active {
  z-index: 1;
}

.swiper-slide-active .card {
  box-shadow: 0 8px 30px -7px #c9dff0;
  opacity: 1;
  transform: scale(1.5);
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 120px;
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: none;
}

@media (max-height: 400px) {
  .header {
    margin: 40px 0 0 0;
  }
  .name {
    font-size: 12px;
  }
  .title {
    font-size: 10px;
  }
  .quote-container {
    padding: 5px 20px 20px 20px;
  }
  .quote-icon {
    width: 75px;
    height: 75px;
  }
  .avatar {
    width: 100px;
    height: 100px;
    transform: translate(-50px, -50px);
  }
}

ul#img-tabs-list {
    height: 74px;
}

a{
color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    text-decoration: underline;
}

.img-result{
  max-height: 200px;
  color: black;
}
*/


/*New Code*/
 .card {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 2px solid #981fae;
      box-shadow: 5px 5px #dcafff;
      margin-bottom:2rem;
    }
    .card-body {
      flex-grow: 1;
    }

     .card-header {
            background-color: rgb(255, 255, 255)
      }

.mt-5 {
    margin-top: 3rem !important;
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
}

::ng-deep .modal-content {
    width: 44rem !important;
}

::ng-deep .modal-body{
    overflow: hidden;
    margin-right: 1rem;
}

::ng-deep .avatar {
  height:18rem;
   width:24rem;
}

.swiper-container {
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.img-res-card{
  height: 43rem;
}

.long-card{
  height: 45.9rem;
}
