<!--Contact Screen worked-->
<!--<div class="contactContent">-->
<!--  <img src="contactPage.png" alt="Advisor" width="30%">-->
<!--  <div class="infoContact">-->
<!--    <h1 class="text-primary">Talk with an Advisor</h1>-->
<!--    <p style="text-align:center">Enter your email address and we'll connect you with <br/>the right person</p>-->
<!--  </div>-->
<!-- <form>-->
<!--  <div class="form-group">-->
<!--    <label for="exampleInputEmail1"><strong>Email address</strong></label>-->
<!--    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">-->
<!--    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
<!--  </div>-->
<!--     <div class="form-group">-->
<!--    <label for="exampleFormControlTextarea1"><strong>Enter your concern</strong></label>-->
<!--    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>-->
<!--  </div>-->
<!-- </form>-->
<!--  <br/>-->
<!--<div>-->
<!--<button type="button" class="btn btn-primary">Send</button>-->
<!--</div>-->
<!--</div>-->

<div class="containerH">
  <img src="backContact.png" alt="Contact" height="100%" width="100%">
  <div class="contactDetails">
   <div class="top-left">
     <div class="heading">
       <h1><strong>Get in Touch</strong></h1>
       <p>Want to get in touch? We'd love to hear from you.Here's how you can reach us.</p>
     </div>
   </div>
  <div class="centered">
   <div class="card">
        <div style="margin-bottom:5px"><i class="fa fa-phone" style="font-size:18px;color:black"></i></div>
        <div class="title">Contact Customer Support or HelpDesk</div>
        <div class="description">
            Interested in D.I.A Software?<br>
            Just pick up the phone to reach out our Help desk number below.
        </div>
        <div class="phone-number">080 6954 0555</div>
        <div class="email">Email : support.dummymail&#64;accenture.com</div>
    </div>
  </div>
    </div>
</div>
