.chart-container{
display: flex;
}

#TextChart{
background-color: white;
display: center;
margin-left: 25px;
margin-top: 25px;
}

#AltChart{
background-color: white;
display: center;
margin-left: 25px;
margin-top: 25px;
}

#ImgChart{
background-color: white;
display: center;
margin-left: 25px;
margin-top: 25px;
}

#ImgGenChart{
background-color: white;
display: center;
margin-left: 25px;
margin-top: 25px;
}




