.chart-container{
    display: flex;
}

#TextChart{
background-color: white;
display: center;
margin-left: 25px;
margin-top: 25px;
width: 629px;
max-width: 564px;
height: 322px;
max-height: 500px;
border:1px solid black;
padding: 30px;
}

#AltChart{
background-color: white;
display: center;
margin-left: 25px;
margin-top: 25px;
width: 629px;
max-width: 564px;
height: 322px;
max-height: 500px;
border:1px solid black;
padding: 30px;
}

#ImgChart{
background-color: white;
display: center;
margin-left: 25px;
margin-top: 25px;
width: 629px;
max-width: 564px;
height: 322px;
max-height: 500px;
border:1px solid black;
padding: 30px;
}

#ImgGenChart{
background-color: white;
display: center;
margin-left: 25px;
margin-top: 25px;
width: 629px;
max-width: 564px;
height: 322px;
max-height: 500px;
border:1px solid black;
padding: 30px;
}

.invisible{
  display:none;
}

.content-container{
height:55rem;
}
