.chart-container{
    display: flex;
}

#Chart{
background-color: white;
display: center !important;
margin-left: -8px;
margin-right: -6px;
margin-top: 0px;
border:1px solid black;
padding: 15px;
width: 32.625rem !important;
max-width: 36.3125rem !important;
height: 21.375rem !important;
max-height: 17.4375rem !important;
}

.content-container{
height:17rem;
}

.chart-legend-container {
  height: 300px;
  overflow-y: auto;
  max-width: 200px;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10px;
}

.chart-legend-container .legend-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.chart-legend-container .legend-item span {
  margin-left: 8px;
}
