<html ng-app="myapp">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script data-require="angular.js@1.2.x"
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"
            data-semver="1.2.16">
    </script>
	</head>
	<body ng-controller="MainCtrl" class="index">

    <div style="height: 535px; width: 1180px;" >
		     <form ngNoForm class="grid" action="/result" method="POST">

          		<label class="whitesmoke">Enter your URL:</label>
          		<input type="text" style="width: auto;" id="urlName" name="urlName">
				      <input  id="submit" type="Submit" value="SUBMIT"/>
              <table>
                <tr ng-repeat="subscription in entities">
                  <td>
                    <input type="checkbox" ng-model="subscription.checked" ng-click="updateSelection($index, entities)"
                    name ="subscription.name" />
                  </td>
                </tr>
              </table>
         </form>
    </div>
  </body>

</html>


